// page footer

footer {
  background-image: url('../img/yura/footer_02.png');
  background-size: cover;
  padding: 43px 0;
  .container {
    .row {
      .col-md {
        .row {
          .menu-footer-nav-container {
            margin-bottom: 20px;
            .menu {

              display: flex;
              li {
                justify-content: space-around;
                padding: 0px 21px;
                position: relative;
                left: 13%;
                a {
                  font-size: 20px;
                  font-family: 'Exo 2', sans-serif;
                  text-align: left;
                  color: #fff;
                  &:hover {
                    color: #ccc;
                    text-decoration: none;
                  }
                }
              }

            }
          }
        }
        .row {
          .col-md {
            .row {

              .share_icons-wrap {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                width: 30%;
                justify-content: flex-start;
                padding-bottom: 10px;position: relative;
                left: 15%;
                li {
                  padding: 0 5px;
                  list-style: none;
                  a {

                  }
                }
              }
              p {
                position: relative;
                left: 15%;
                font-size: 14px;
                font-family: "Exo2", sans-serif;
                color: #fff;
                text-align: left;
              }
            }
          }
        }
      }
      .col-md {
        .row {
          .col-md-6 {
            .row {

              .list-unstyled {
                li {
                  font-size: 18px;
                  font-family: "Exo2", sans-serif;
                  color: #fff;
                  text-align: left;
                }
              }
            }
          }
          .col-md-6 {
            h5.text-uppercase {
              font-size: 18px;
              font-family: "Exo2", sans-serif;
              color: rgb(96, 170, 219);
              text-align: left;
              padding-bottom: 5px;
            }
            address {
              font-size: 18px;
              font-family: "Exo2", sans-serif;
              color: #fff;
              text-align: left;
            }
          }
        }
      }
    }
    //row
  }
}